<!DOCTYPE html><html lang ="en"><head><meta charset="UTF-8"><title>GO World!</title></head><body>

    {{range .Cars}}
    {{.Model}}
    {{end}}

    {{range .Cars}}
    {{/*ft .Make*/}} {{/* uncomment this step*/}}
    {{end}}

</body></html>