<!DOCTYPE html><html lang ="en"><head><meta charset="UTF-8"><title>GO World!</title></head><body>

 {{/* template comment format sample*/}}
   


<p>My Name is {{.}}
{{template "sampletemplate" .}}
</p>
</body></html>